.root {

    /* COLOR PALETTE */
    --ui-color-n-000: #fff;
    --ui-color-n-050: #f5f5f5;
    --ui-color-n-100: #ebebeb;
    --ui-color-n-300: #aeaeae;
    --ui-color-n-500: #1e2146;
    --ui-color-n-700: #1f2348;
    --ui-color-n-900: #000046;
    --ui-color-n-1050: #e0bf54b9;
    --ui-color-n-1100: #E0C054;
    --ui-color-n-1300: #d2a61d;
    
    /* BACKGROUND COLOR */
    
    --ui-color-background-primary  : var(--ui-color-n-000);
    --ui-color-background-secondary: var(--ui-color-n-050);
    --ui-color-background-tertiary : var(--ui-color-n-100);
    
} 

/*--------------------------------------------------------------
|
| BRANDS
|
--------------------------------------------------------------*/

.ui-section-brands {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.ui-section-brands--list { list-style-type: none; }

span { color: var(--ui-color-n-1100); }

.ui-section-brands--title { padding-top: 5rem; }

.ui-section-close-brands {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: var(--ui-color-background-primary);
    text-align: center;
}

.ui-section-close-brands h2 { text-align: center; }

/* SLIDER */

.ui-section-brands h2 { text-align: center; }

.slider {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 58rem;
    margin: auto;
    background-color: var(--ui-color-background-secondary);
}

.before { left: 0; }

.after { right: 0; }

.before, .after {
    font-size: 2rem;
    position: absolute;
    top: auto;
    background: rgba(0, 0, 0, 0.193);
    color: var(--ui-color-background-secondary);
    font-weight: bold;
    cursor: pointer;
    padding: 0.3rem;
}

.slide-content { padding: 3rem; }

/* JOBS */

.ui-section-brands--content {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 58rem;
    margin: auto;
    background-color: var(--ui-color-background-secondary);
}

.content { padding: 3rem; }

/* TESTIMONIAL */

.ui-section-brands--testimonial { padding-top: 5rem; }

.ui-section-brands--testimonial span {
    font-weight: bold;
    font-size: 1.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    line-height: 1.5rem ;
}

.ui-testimonial-blob {
    border-radius: 86% 14% 22% 78% / 50% 47% 53% 50%; 
    width: 16rem;
    height: 16rem;  
}
  
/*--------------------------------------------------------------
|
| PROFILS & EMPLOIS
|
--------------------------------------------------------------*/

.ui-section-brand { text-align: center; }

.illustration { width: 37%; }

