.root {

    /* COLOR PALETTE */
    --ui-color-n-000: #fff;
    --ui-color-n-050: #f5f5f5;
    --ui-color-n-100: #ebebeb;
    --ui-color-n-300: #aeaeae;
    --ui-color-n-500: #1e2146;
    --ui-color-n-700: #1f2348;
    --ui-color-n-900: #000046;
    --ui-color-n-1050: #e0bf54b9;
    --ui-color-n-1100: #E0C054;
    --ui-color-n-1300: #d2a61d;
    
    /* BACKGROUND COLOR */
    
    --ui-color-background-primary  : var(--ui-color-n-000);
    --ui-color-background-secondary: var(--ui-color-n-050);
    --ui-color-background-tertiary : var(--ui-color-n-100);
    
    /* BORDER COLOR */
    
    --ui-color-border: var(--ui-color-n-100);
    
    /* TYPOGRAPHY COLOR */
    
    --ui-color-typography-heading: var(--ui-color-n-500);
    --ui-color-typography-body   : var(--ui-color-n-900);
    --ui-color-typography-note   : var(--ui-color-n-300);
    --ui-color-typography-button : var(--ui-color-n-000);
    
    } 

/*--------------------------------------------------------------
|
| CANDIDATE
|
--------------------------------------------------------------*/

.ui-section-candidate--list span {
    color: var(--ui-color-n-1100);
    margin-left: 2rem;
}

.ui-section-candidate--list {
    list-style-type: none;
    text-align: initial;
}

.ui-section-candidate--title {
    padding-top: 5rem;
}

.ui-section-candidate_layout {
    padding-bottom: 5rem;
    padding-top: 5rem;
    padding-left: var(--ui-layout-container);
    padding-right: var(--ui-layout-container);
}
  
.ui-section-candidate_layout h3 {
    background-image: url(https://res.cloudinary.com/uisual/image/upload/assets/icons/check.svg);
    background-repeat: no-repeat;
    background-size: 1.75rem;
    padding-left: 40px;
    background-position: 0 0;
}

.ui-section-candidate {
    background-color: var(--ui-color-background-secondary);
}

/* CANDIDATE FORM */

.ui-section-candidate-form {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.ui-section-candidate-form h2 {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    text-align: center;
}
