:root {

    /* COLOR PALETTE */
  
    --ui-color-n-000: #fff;
    --ui-color-n-050: #f5f5f5;
    --ui-color-n-100: #ebebeb;
    --ui-color-n-700: #1f2348;
    --ui-color-n-1050: #e0bf54b9;
  
    /* BACKGROUND COLOR */
    
    --ui-color-background-primary  : var(--ui-color-n-000);
    --ui-color-background-secondary: var(--ui-color-n-050);
    --ui-color-background-tertiary : var(--ui-color-n-100);
}

/*--------------------------------------------------------------
|
| CONTACT
|
--------------------------------------------------------------*/

.ui-section-feature-contact {
  padding-top: 0;
  padding-bottom: 5rem;
}

.ui-section-feature-contact h2 { 
    text-align: center;
}

.ion-icon-contact {
    font-size: 32px;
    margin: 1rem;
    cursor: pointer;
    color: var(--ui-color-n-700);
    background-color: var(--ui-color-background-tertiary);
    padding: 1rem;
    border-radius: 30px;
}

.ion-icon-contact:hover { background-color: var(--ui-color-n-1050); }

.ui-section-feature__layout { row-gap: var(--ui-gap-card); flex-direction: column; }

.ui-section-feature__layout img { border-radius: 0; }

/* CARD */

.ui-component-card--feature { 
    text-align: center;
    margin: 0 5% 0 5%;
}

.ui-component-card--feature-content { padding: 2.25rem 1.5rem; }

.ui-component-card--feature-title { margin-bottom: .5rem; }

/* FORM */

.ui-section-contact-form {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.ui-section-contact-form h2 {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    text-align: center;
}


/*--------------------------------------------------------------
8.0 MEDIA
--------------------------------------------------------------*/

/*--------------------------------------------------------------
|
| 8.1 768PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 48rem) {
  
    /*------------------------------------------------------------
    |
    | FEATURE
    |
    ------------------------------------------------------------*/

    .ui-section-feature__layout { flex-direction: row; }

}