.root {

/* COLOR PALETTE */
--ui-color-n-000: #fff;
--ui-color-n-050: #f5f5f5;
--ui-color-n-100: #ebebeb;
--ui-color-n-300: #aeaeae;
--ui-color-n-500: #1e2146;
--ui-color-n-700: #1f2348;
--ui-color-n-900: #000046;
--ui-color-n-1050: #e0bf54b9;
--ui-color-n-1100: #E0C054;
--ui-color-n-1300: #d2a61d;

/* BACKGROUND COLOR */

--ui-color-background-primary  : var(--ui-color-n-000);
--ui-color-background-secondary: var(--ui-color-n-050);
--ui-color-background-tertiary : var(--ui-color-n-100);

/* BORDER COLOR */

--ui-color-border: var(--ui-color-n-100);

/* TYPOGRAPHY COLOR */

--ui-color-typography-heading: var(--ui-color-n-500);
--ui-color-typography-body   : var(--ui-color-n-900);
--ui-color-typography-note   : var(--ui-color-n-300);
--ui-color-typography-button : var(--ui-color-n-000);

} 

/*--------------------------------------------------------------
|
| STORYTELLING
|
--------------------------------------------------------------*/
  
.ui-section-storytelling {
    background-color: var(--ui-color-background-secondary);
}

.ui-section-storytelling--title {
    padding-top: 5rem;
}

.ui-section-storytelling_layout {
    padding-bottom: 5rem;
    padding-top: 5rem;
    text-align: center;
    padding-left: var(--ui-layout-container);
    padding-right: var(--ui-layout-container);
}
  
.ui-section-storytelling--icon {
    border-radius: 99px;
    width: 5rem;
    height: 5rem;
    margin-top: 1rem;
    border: 1px solid var(--ui-color-background-primary);
}
