.root {

    /* COLOR PALETTE */
    --ui-color-n-000: #fff;
    --ui-color-n-050: #f5f5f5;
    --ui-color-n-100: #ebebeb;
    --ui-color-n-300: #aeaeae;
    --ui-color-n-500: #1e2146;
    --ui-color-n-700: #1f2348;
    --ui-color-n-900: #000046;
    --ui-color-n-1050: #e0bf54b9;
    --ui-color-n-1100: #E0C054;
    --ui-color-n-1300: #d2a61d;
    
    /* BACKGROUND COLOR */
    
    --ui-color-background-primary  : var(--ui-color-n-000);
    --ui-color-background-secondary: var(--ui-color-n-050);
    --ui-color-background-tertiary : var(--ui-color-n-100);
} 

/*--------------------------------------------------------------
|
| OFFER
|
--------------------------------------------------------------*/

.background-img { 
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M3.25 10h13.5M10 3.25v13.5'  stroke-linecap='square' stroke-width='1' stroke='hsla(259, 0%, 88%, 0.19)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>"); }

.ui-section-offer--list span { color: var(--ui-color-n-1100); }

.ui-section-offer--list {
    list-style-type: none;
    text-align: initial;
}

.ui-section-offer--title { padding-top: 5rem; }

.ui-section-offer_layout {
    padding-bottom: 5rem;
    padding-top: 5rem;
    padding-left: var(--ui-layout-container);
    padding-right: var(--ui-layout-container);
}
  
.ui-section-offer_layout h3 {
    background-image: url(https://res.cloudinary.com/uisual/image/upload/assets/icons/check.svg);
    background-repeat: no-repeat;
    background-size: 1.75rem;
    padding-left: 40px;
    background-position: 0 0;
}

.ui-section-offer { background-color: var(--ui-color-background-secondary); }

.ui-section-offer-faq { 
    text-align: center; 
    padding-top: 5rem;
    padding-bottom: 5rem; 
    background-color: var(--ui-color-background-secondary); }

.prime {
    margin-top: 3.5rem;
    padding: 2rem;
    border: 1.1px dashed #ccc;
    background-color: var(--ui-color-background-primary);
}

.prime i {
    color: var(--ui-color-n-1100);
    font-size: 25px;
}

.prime span { color: var(--ui-color-n-300); }

/* FORM */

.ui-section-offer-form {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.ui-section-offer-form h2 {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    text-align: center;
}


