.root {

    /* COLOR PALETTE */
    --ui-color-n-000: #fff;
    --ui-color-n-050: #f5f5f5;
    --ui-color-n-100: #ebebeb;
    --ui-color-n-300: #aeaeae;
    --ui-color-n-500: #1e2146;
    --ui-color-n-700: #1f2348;
    --ui-color-n-900: #000046;
    --ui-color-n-1050: #e0bf54b9;
    --ui-color-n-1100: #E0C054;
    --ui-color-n-1300: #d2a61d;
    
    /* BACKGROUND COLOR */
    
    --ui-color-background-primary  : var(--ui-color-n-000);
    --ui-color-background-secondary: var(--ui-color-n-050);
    --ui-color-background-tertiary : var(--ui-color-n-100);
    
    /* BORDER COLOR */
    
    --ui-color-border: var(--ui-color-n-100);
    
    /* TYPOGRAPHY COLOR */
    
    --ui-color-typography-heading: var(--ui-color-n-500);
    --ui-color-typography-body   : var(--ui-color-n-900);
    --ui-color-typography-note   : var(--ui-color-n-300);
    --ui-color-typography-button : var(--ui-color-n-000);
    
} 

/*--------------------------------------------------------------
|
| SALES
|
--------------------------------------------------------------*/

.ui-section-sales {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.ui-section-sales--title {
    padding-top: 5rem;
}

.ui-section-sales h2 { text-align: center; }

.ui-section-sales i {
    margin-left: 35%;
    font-size: 99px;
    color: var(--ui-color-n-1100);
}

.ui-section-close-sales {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: var(--ui-color-background-primary);
    text-align: center;
}

.ui-section-close-sales h2 {
    text-align: center;
}

.ui-section-sales--content {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 58rem;
    margin: auto;
    background-color: var(--ui-color-background-secondary);
}

.content {
    padding: 3rem;
}

/* TESTIMONIAL */

.ui-section-sales--testimonial {
    padding-top: 5rem;
}

.ui-section-sales--testimonial span {
    font-weight: bold;
    font-size: 1.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    line-height: 1.5rem ;
}

.ui-section-sales--testimonial img {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    
}

/* CUSTOMER SECTION IN MAIN PAGE #STYLE.CSS */