:root {

  /*------------------------------------------------------------
  |
  | - COLOR
  |
  ------------------------------------------------------------*/

  --ui-color-brand: #1f2348;

  /* COLOR PALETTE */

  --ui-color-n-000: #fff;
  --ui-color-n-050: #f5f5f5;
  --ui-color-n-100: #ebebeb;
  --ui-color-n-300: #636161;
  --ui-color-n-500: #1e2146;
  --ui-color-n-700: #1f2348;
  --ui-color-n-900: #000046;
  --ui-color-n-1050: #e0bf54b9;
  --ui-color-n-1100: #E0C054;
  --ui-color-n-1300: #d2a61d;
  --ui-color-n-1500: #6b9080;

  /* BACKGROUND COLOR */
  
  --ui-color-background-primary  : var(--ui-color-n-000);
  --ui-color-background-secondary: var(--ui-color-n-050);
  --ui-color-background-tertiary : var(--ui-color-n-100);

  /* BORDER COLOR */

  --ui-color-border: var(--ui-color-n-100);

  /* TYPOGRAPHY COLOR */

  --ui-color-typography-heading: var(--ui-color-n-500);
  --ui-color-typography-body   : var(--ui-color-n-900);
  --ui-color-typography-note   : var(--ui-color-n-300);
  --ui-color-typography-button : var(--ui-color-n-000);

  /* LIGHT COLOR BRAND */

  --ui-color-n-light: #d8bb5c7a;


  /*------------------------------------------------------------
  |
  | - TYPOGRAPHY
  |
  ------------------------------------------------------------*/

  --ui-typography-typeface: "Montserrat", sans-serif;

  /* FONT SIZE */

  --ui-typography-h1  : 1.9375rem;
  --ui-typography-h2  : 1.5625rem;
  --ui-typography-h3  : 1.25rem;
  --ui-typography-p   : 1rem;
  --ui-typography-s   : .8125rem;
  --ui-typography-icon: 1.75rem;

  /* LEADING */

  --ui-typography-h1-leading: 1.2;
  --ui-typography-h2-leading: 1.2;
  --ui-typography-p-leading : 1.5;

  /* MARGIN */

  --ui-typography-margin-heading: .75rem;
  --ui-typography-margin-body   : 1.125rem;

  /*------------------------------------------------------------
  |
  | - LAYOUT
  |
  ------------------------------------------------------------*/
  
  --ui-layout-container: 1.25rem;
  --ui-layout-grid     : 3.625rem;
  --ui-layout-gutter   : 1rem;

  /* GAP */
  
  --ui-gap-header     : 1rem;
  --ui-gap-cta        : .75rem;
  --ui-gap-hero       : 2rem;
  --ui-gap-customer   : 2rem;
  --ui-gap-feature    : 2rem;
  --ui-gap-card       : 1.25rem;
  --ui-gap-brand      : 2rem;
  --ui-gap-testimonial: 3rem;

  /* BORDER RADIUS */
  
  --ui-radius-avatar: 5rem;
  --ui-radius-button: .5rem;
  --ui-radius-card  : .5rem;

}

/*--------------------------------------------------------------
 - FOUNDATION
--------------------------------------------------------------*/

html { box-sizing: border-box; }

*,
*:before,
*:after { box-sizing: inherit; }

::selection {
  background-color: var(--ui-color-n-1100);
  color: var(--ui-color-n-900);
}

body {
  background-color: var(--ui-color-background-primary);
  color: var(--ui-color-typography-body);
  font-family: var(--ui-typography-typeface);
  font-feature-settings: "liga", "kern";
  font-size: var(--ui-typography-p);
  font-weight: 400;
  line-height: var(--ui-typography-p-leading);
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  height: auto;
}

/* Works on Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #bbb
   var(--ui-color-background-tertiary);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--ui-color-background-tertiary);
}

*::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 20px;
  border: 3px solid var(--ui-color-background-tertiary);
}


/*--------------------------------------------------------------
 - TYPOGRAPHY
--------------------------------------------------------------*/

a {
  color: var(--ui-color-brand);
  text-decoration: none;
  list-style-type: none;
}

h1,
h2,
p,
ul { margin-top: 0; }

h1,
h2 {
  color: var(--ui-color-typography-heading);
  margin-bottom: var(--ui-typography-margin-heading);
}

h1 {
  font-size: var(--ui-typography-h1);
  line-height: var(--ui-typography-h1-leading);
}

h2 {
  font-size: var(--ui-typography-h2);
  line-height: var(--ui-typography-h2-leading);
}

p,
ul { margin-bottom: var(--ui-typography-margin-body); }

p:last-child,
ul:last-child { margin-bottom: 0; }

ul { padding-left: 0; }

strong { font-weight: 700; }

small { font-size: var(--ui-typography-s); }

.ui-text-note {
  color: var(--ui-color-typography-note);
  line-height: 1;
}

/*--------------------------------------------------------------
 - IMAGE
--------------------------------------------------------------*/

img,
svg {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 100%;
}

/*--------------------------------------------------------------
 - LAYOUT
--------------------------------------------------------------*/

.ui-layout-container {
  padding-left: var(--ui-layout-container);
  padding-right: var(--ui-layout-container);
}

.ui-layout-flex,
.ui-layout-grid {
  justify-content: center;
  align-items: center;
}

.ui-layout-flex { display: flex; }

.ui-layout-grid { display: grid; }

/*--------------------------------------------------------------
 - COMPONENT
--------------------------------------------------------------*/

/*--------------------------------------------------------------
|
| - CTA
|
--------------------------------------------------------------*/

.ui-component-cta {
  flex-direction: column;
  row-gap: var(--ui-gap-cta);
}

/*--------------------------------------------------------------
|
| - BUTTON
|
--------------------------------------------------------------*/

.ui-component-button {
  border: .0625rem solid var(--ui-color-brand);
  border-radius: var(--ui-radius-button);
  display: block;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  transition: 500ms;
  transform: translateY(0px);
}

.ui-component-button:hover {
  background-color: var(--ui-color-n-1100);
  border: .0625rem solid var(--ui-color-n-1100);
  transform: translateY(-5px);
  box-shadow: 0 1.5px 1.5px var(--ui-color-n-700);
}

.ui-component-button-primary {
  background-color: var(--ui-color-brand);
  color: var(--ui-color-typography-button);
}

.ui-component-button-secondary {
  background-color: var(--ui-color-background-primary);
  color: var(--ui-color-brand);
}

.ui-component-button-big,
.ui-component-button-normal { padding: .75rem 1rem .875rem; }

.ui-component-button-big { width: 100%; }

.ui-component-button-normal { width: fit-content; }

/*--------------------------------------------------------------
|
| - CARD
|
--------------------------------------------------------------*/

.ui-component-card {
  border: .0625rem solid var(--ui-color-border);
  border-radius: var(--ui-radius-card);
  overflow: hidden;
  width: 100%;
}

/*--------------------------------------------------------------
|
| - LIST
|
--------------------------------------------------------------*/

.ui-component-list {
  grid-template-columns: 1fr;
  row-gap: .75rem;
}

.ui-component-list--item {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1.125rem;
  list-style: none;
  padding-left: 1.875rem;
}

.ui-component-list--item-check {
  background-image: url(https://res.cloudinary.com/uisual/image/upload/assets/icons/check.svg);
}

.ui-component-list--item-cross {
  background-image: url(https://res.cloudinary.com/uisual/image/upload/assets/icons/cross.svg);
}

/*--------------------------------------------------------------
|
| - PROGRESS BAR
|
--------------------------------------------------------------*/

#progress {
  height: 3.85px;
  border-radius: 0;
  position: fixed;
  z-index: 99;
  bottom: 0;
  background-color: var(--ui-color-n-1100);
}

/*--------------------------------------------------------------
|
| - CUSTOM
|
--------------------------------------------------------------*/

.cta-links { color: var(--ui-color-n-1500); }

.cta-links:hover { color: var(--ui-color-n-1300); }

/*--------------------------------------------------------------
 - SECTION
--------------------------------------------------------------*/

/*--------------------------------------------------------------
|
| - HEADER
|
--------------------------------------------------------------*/

.ui-section-header {
  position: sticky;
  top: 0;
  background-color: var(--ui-color-background-primary);
  z-index: 99;
  transition: .05s ease-in-out;
  -webkit-transition: .05s ease-in-out;
}

.scroll {
  background-color: #ffffff3e; 
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
}

.ui-section-header__layout { justify-content: space-between; }

/* LOGO */

.ui-section-header--logo { 
  max-width: 70%;
  margin-left: 0;
}

/* HAMBURGER */

.navbar {  
  display: flex;
  position: relative;
  z-index: 3;
  align-items: center; 
  justify-content: space-between;   
  font-size: 1.1rem;
}

.navbar__links { display: flex; }

.navbar__link { padding: 0 10px; }

.navbar__link > a { 
  color: var(--ui-color-n-700);
  text-decoration: none;
  list-style-type: none;
}

.navbar__links { 
  list-style-type: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 0;
  height: 120vh;  
  position: absolute;
  top: 120%;
  right: -1.2rem;     
  background: var(--ui-color-background-primary);     
  transform: translateX(110%);
  -webkit-transform: translateX(110%);
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.show-nav .navbar__links { 
  width: 100vw;    
  transform: translateX(0);
} 

.navbar__link {    
  transform: translateX(101%);
  -webkit-transform: translateX(101%); 
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}
  
.show-nav .navbar__link  {        
  transform: translateX(0); 
  -webkit-transform: translateX(0);   
}   

.navbar__link > a {
  display:block;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  color:var(--ui-color-n-700);  
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  background-color: var(--ui-color-background-secondary);
}

.show-nav .fifth {
  background-color: var(--ui-color-n-1050);
  border: 2px solid var(--ui-color-background-primary);
}

.navbar__link > a:hover {
  padding-left: 2rem;
  letter-spacing: 5px;
}

.hamburger-items-sublist {
  list-style-type: none;
  font-size: 1rem;
  padding-left: 1rem;
  padding-top: .15rem;
  margin: 5px 0 0 10px;
  font-weight: 500;
  text-decoration: underline;
}
  
.burger {
  display: block;
  position: relative;
  padding: 0;
  width: 45px;
  height: 45px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.bar {
  display:block;    
  width:45px;
  height:4px;  
  border-radius:3px;
  background:var(--ui-color-brand); 
  transition: all .5s ease-in-out;   
  -webkit-transition: all .5s ease-in-out;
}

.bar::before, .bar::after {
  content:"";
  width:45px;
  height:4px;
  position:absolute; 
  left:0;  
  background:var(--ui-color-brand); 
  border-radius:3px;    
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.bar::before {
  transform: translateY(-12px);
  -webkit-transform: translateY(-12px)
}
  
.bar::after {
  transform:translateY(12px);
  -webkit-transform: translateY(12px);
}

.show-nav .bar {
  width: 0;
  background: transparent;    
}
  
.show-nav .bar::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.show-nav .bar::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Toggle / Animations */

.show-nav .first {      
  transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
} 

.show-nav .second {      
  transition: all 1.1s ease-out;
  -webkit-transition: all 1.1s ease-out;
} 
  
.show-nav .third {      
  transition: all 1.2s ease-out;
  -webkit-transition: all 1.2s ease-out;
} 

.show-nav .four {      
  transition: all 1.3s ease-out;
  -webkit-transition: all 1.3s ease-out;
} 

.show-nav .fifth {      
  transition: all 1.4s ease-out;
  -webkit-transition: all 1.4s ease-out;
}

/* MENU */

.ui-section-header--nav {
  background-color: var(--ui-color-background-primary);
  color: var(--ui-color-n-700);
  gap: var(--ui-gap-header);
  padding: 7.375rem var(--ui-layout-container) 5rem;
  display: none; 
  font-size: 1.05rem;
  font-family: var(--ui-typography-typeface);
  font-weight: normal;
} 

.list-items { display: flex; }

.items {
  margin: 1rem;
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
  position: relative; 
}

.sublist {
  display: none;
  position: absolute;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  font-size: var(--ui-color-typography-note);
}

.items-sublist {
  text-align: center;
  padding: 1rem;
  margin-top: 0.1rem;
  line-height: 1.5;
  transition: .1s ease-out;
  background-color: var(--ui-color-background-primary);
  box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.144); 
}

.items-sublist:hover {
  transform: translate(1rem);
  color: var(--ui-color-n-1300);
}

.items-sublist :nth-child(1):hover {
  transform: translate(1rem);
  color: var(--ui-color-n-1300);
}

.items > ul {
  display: none;
  position: absolute; 
  top: 100%; 
  left: 0;
  z-index: 2; 
}

.items:hover > ul { display: block; }

.items span { color: var(--ui-color-n-1300); }

.active:hover { color: var(--ui-color-n-1300); }

/*--------------------------------------------------------------
|
| - HERO
|
--------------------------------------------------------------*/

.ui-section-hero {
  padding-bottom: 5rem;
  padding-top: 5rem;
  text-align: center;
  position: relative;
  z-index: 1;
}

.ui-section-hero img {
  border-radius: 1rem;
  max-width: 100%;
}

.ui-section-hero__layout { row-gap: var(--ui-gap-hero); }

/*--------------------------------------------------------------
|
| - CUSTOMER
|
--------------------------------------------------------------*/

.ui-section-customer {
  background-color: var(--ui-color-background-secondary);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.ui-section-customer__layout {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  row-gap: var(--ui-gap-customer);
}

.ui-section-customer--logo { width: 5.5rem; }

/*--------------------------------------------------------------
|
| - FEATURE
|
--------------------------------------------------------------*/

.ui-section-feature {
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.ui-section-feature__layout img { border-radius: 1.5rem; }

.ui-section-feature__layout { row-gap: var(--ui-gap-feature); }

.ui-section-feature__layout:first-of-type div { grid-row-start: 1; }

.ui-section-feature__layout:last-of-type { margin-top: 5rem; }

/*--------------------------------------------------------------
|
| - BRANDS
|
--------------------------------------------------------------*/

.ui-section-brand {
  background-color: var(--ui-color-background-secondary);
  padding-bottom: 5rem;
  padding-top: 5rem;
  text-align: center;
}

.ui-section-brand__layout {
  justify-content: initial;
  margin-bottom: var(--ui-gap-brand);
  margin-top: var(--ui-gap-brand);
  row-gap: var(--ui-gap-card);
}

/* CARD */

.ui-component-card--brand {
  background-color: var(--ui-color-background-primary);
  padding: 1.5rem 1.5rem 1.75rem;
  text-align: left;
}

/* LIST */

.ui-component-list--brand {
  margin-bottom: 1.5rem;
  margin-top: 1.25rem;
}

/*--------------------------------------------------------------
|
| - TESTIMONIAL
|
--------------------------------------------------------------*/

.ui-section-testimonial {
  padding-bottom: 5rem;
  padding-top: 5rem;
  text-align: center;
}

.ui-section-testimonial__layout { row-gap: var(--ui-gap-testimonial); }

.ui-section-testimonial i {
  font-size: 18px;
  color: var(--ui-color-n-1100);
  margin: 0.06rem;
}

.ui-section-testimonial--quote {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.ui-section-testimonial--author { line-height: 1.25; }

/*--------------------------------------------------------------
|
| - CLOSE
|
--------------------------------------------------------------*/

.ui-section-close {
  background-color: var(--ui-color-background-secondary);
  padding-bottom: 5rem;
  padding-top: 5rem;
  text-align: center;
}

/*--------------------------------------------------------------
|
| - FOOTER
|
--------------------------------------------------------------*/

.ui-section-footer {
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
}

.ui-section-footer a {
  text-decoration: none;
  cursor: pointer;
}

.ui-section-footer img { width: 4rem; }

.ui-section-footer__layout { column-gap: var(--ui-layout-gutter); }

.ui-section-footer__layout { flex-direction: column; }

.ui-section-footer--copyright {
  line-height: 2;
  text-align: center;
}

.ui-section-footer--icon { font-size: var(--ui-typography-icon); }

.ui-section-footer--icon a { padding-left: 0.5rem; }

.ui-section-footer--icon a:hover { color: var(--ui-color-n-1300); }

/*--------------------------------------------------------------
 -  MEDIA
--------------------------------------------------------------*/

/*--------------------------------------------------------------
|
| - 450PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 28.125rem) {

 /*------------------------------------------------------------
   - SECTION
  ------------------------------------------------------------*/

  /*------------------------------------------------------------
  |
  |  - HEADER
  |
  ------------------------------------------------------------*/

  .ui-section-header--logo { max-width: 45%; }
}

/*--------------------------------------------------------------
|
| - 768PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 48rem) {

  /*------------------------------------------------------------
   - VARIABLE
  ------------------------------------------------------------*/
  
  :root {

    /*----------------------------------------------------------
    |
    | - TYPOGRAPHY
    |
    ----------------------------------------------------------*/

    /* FONT SIZE */

    --ui-typography-h1: 2.1875rem;
    --ui-typography-h2: 1.75rem;
    --ui-typography-p : 1.05rem;
    --ui-typography-s : .875rem;

    /* MARGIN */

    --ui-typography-margin-body: 1.25rem;

    /*----------------------------------------------------------
    |
    | - LAYOUT
    |
    ----------------------------------------------------------*/

    --ui-layout-container: 4.25rem;
    --ui-layout-gutter   : 1.5rem;

    /* GAP */

    --ui-gap-header: 1.5rem;
    --ui-gap-card  : 1.5rem;

  }

  /*------------------------------------------------------------
   - LAYOUT
  ------------------------------------------------------------*/

  .ui-layout-container,
  .ui-layout-column-center {
    margin-left: auto;
    margin-right: auto;
  }

  .ui-layout-grid-2,
  .ui-layout-grid-3 {
    column-gap: var(--ui-layout-gutter);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .ui-layout-grid-3 div:nth-of-type(3) {
    left: calc(50% + (var(--ui-layout-gutter) / 2));
    position: relative;
  }

  .ui-layout-column-4 {
    width: calc((var(--ui-layout-grid) * 4) +
           (var(--ui-layout-gutter) * 3));
  }

  /*------------------------------------------------------------
   - COMPONENT
  ------------------------------------------------------------*/
  /*--------------------------------------------------------------
  |
  | - PROGRESS BAR
  |
  --------------------------------------------------------------*/

#progress { height: 5px; }

  /*------------------------------------------------------------
  |
  | - LIST
  |
  ------------------------------------------------------------*/

  .ui-component-list--item {
    background-size: 1.25rem;
    padding-left: 2rem;
  }

  /*------------------------------------------------------------
   - SECTION
  ------------------------------------------------------------*/

  /*------------------------------------------------------------
  |
  |  - HEADER
  |
  ------------------------------------------------------------*/
  .navbar__links { right: -4.25rem; }

  .ui-section-header--logo { max-width: 31%; }

  /*------------------------------------------------------------
  |
  | - HERO
  |
  ------------------------------------------------------------*/

  .ui-section-hero { text-align: left; }

  .ui-section-hero .ui-component-cta { align-items: start; }

  /*------------------------------------------------------------
  |
  | - FEATURE
  |
  ------------------------------------------------------------*/

  .ui-section-feature__layout:first-of-type div { grid-row-start: initial; }

  /*------------------------------------------------------------
  |
  | - BRAND
  |
  ------------------------------------------------------------*/

  .ui-component-card--brand { padding: 2rem 2rem 2.25rem; }
  
}

/*--------------------------------------------------------------
|
| - 1024PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 64rem) {

  /*------------------------------------------------------------
   - VARIABLE
  ------------------------------------------------------------*/

  :root {

    /*----------------------------------------------------------
    |
    | - LAYOUT
    |
    ----------------------------------------------------------*/

    --ui-layout-container: 0;
  
  }

  /*------------------------------------------------------------
   - LAYOUT
  ------------------------------------------------------------*/
  
  .ui-layout-container { width: 60rem; }

  .ui-layout-grid-3 { grid-template-columns: repeat(3, 1fr); }

  .ui-layout-grid-3 div:nth-of-type(3) { position: static; }

  /*------------------------------------------------------------
   - SECTION
  ------------------------------------------------------------*/

  /*------------------------------------------------------------
  |
  |  - HEADER
  |
  ------------------------------------------------------------*/
  
  .navbar { display: none; }

  .ui-section-header--nav {
    background-color: transparent;
    box-shadow: none;
    flex-direction: row;
    opacity: 1;
    padding: 0;
    position: static;
    display: block;
  }

  .ui-section-header--logo { max-width: 23%; }

  /*------------------------------------------------------------
  |
  | - HERO
  |
  ------------------------------------------------------------*/

  .ui-section-hero .ui-component-cta {
    align-items: center;
    column-gap: var(--ui-gap-cta);
    flex-direction: row;
    justify-content: start;
  }

}

/*--------------------------------------------------------------
|
| - 1200PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 75rem) {

  /*------------------------------------------------------------
   - VARIABLE
  ------------------------------------------------------------*/

  :root {

    /*----------------------------------------------------------
    |
    | - TYPOGRAPHY
    |
    ----------------------------------------------------------*/

    /* FONT SIZE */

    --ui-typography-h1: 2.75rem;
    --ui-typography-h2: 2.1875rem;
    --ui-typography-h4: 1.4375rem;

    /* MARGIN */

    --ui-typography-margin-heading: 1rem;
    --ui-typography-margin-body   : 1.75rem;

    /*----------------------------------------------------------
    |
    | LAYOUT
    |
    ----------------------------------------------------------*/

    --ui-layout-grid  : 4rem;
    --ui-layout-gutter: 2rem;

    /* GAP */

    --ui-gap-header  : 2rem;
    --ui-gap-customer: 4rem;
    --ui-gap-card    : 2rem;
    --ui-gap-brand   : 3rem;
  }

  /*------------------------------------------------------------
   - LAYOUT
  ------------------------------------------------------------*/
  
  .ui-layout-container { width: 70rem; }

  /*------------------------------------------------------------
   - COMPONENT
  ------------------------------------------------------------*/

  /*------------------------------------------------------------
  |
  | - BUTTON
  |
  ------------------------------------------------------------*/

  .ui-component-button-big,
  .ui-component-button-normal {
    padding-bottom: 1.125rem;
    padding-top: 1rem;
  }

  /*------------------------------------------------------------
   - SECTION
  ------------------------------------------------------------*/

  /*------------------------------------------------------------
  |
  | - HEADER
  |
  ------------------------------------------------------------*/

  .ui-section-header { padding-top: 0; }

  .ui-section-header--logo { max-width: 21.5% ;}

  /*------------------------------------------------------------
  |
  | - HERO
  |
  ------------------------------------------------------------*/

  .ui-section-hero {
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
  }

  /*------------------------------------------------------------
  |
  | - CUSTOMER
  |
  ------------------------------------------------------------*/
  
  .ui-section-customer__layout {
    display: flex;
    column-gap: var(--ui-gap-customer);
    flex-direction: row;
  }
  
  .ui-section-customer--logo {
    margin-left: 0;
    margin-right: 0;
    height: fit-content;
  }

  /*------------------------------------------------------------
  |
  | - FEATURE
  |
  ------------------------------------------------------------*/

  .ui-section-feature {
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
  }

  .ui-section-feature__layout:last-of-type { margin-top: 7.5rem; }

  /* LIST */

  .ui-component-list-feature {
    column-gap: var(--ui-layout-gutter);
    grid-template-columns: repeat(2, 1fr);
  }

  /*------------------------------------------------------------
  |
  | - BRAND
  |
  ------------------------------------------------------------*/

  .ui-section-brand {
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
  }

  .ui-component-card--brand { padding: 3rem; }

  /*------------------------------------------------------------
  |
  | - TESTIMONIAL
  |
  ------------------------------------------------------------*/

  .ui-section-testimonial {
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
  }

  /*------------------------------------------------------------
  |
  | - CLOSE
  |
  ------------------------------------------------------------*/

  .ui-section-close {
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
  }
  
  /*------------------------------------------------------------
  |
  | - FOOTER
  |
  ------------------------------------------------------------*/

  .ui-section-footer {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  .ui-section-footer__layout { flex-direction: row; }

}